<config>
    <message>
        <default method="GET" response="response->$a-{name}" protocol="http" comment="" domainindex="0"
                 contentType="application/x-www-form-urlencoded"/>
        <extra>
            <item name="ResourceVersion" method="POST" url="/studentMobile/growingworld/config/resourceversion.vpage"
                  comment="获取配置表版本">
                <field name="tableNames" type="string[]" comment="请求数据表列表"/>
            </item>
            <item name="ResourceList" method="POST" url="/studentMobile/growingworld/config/resourcelist.vpage"
                  comment="获取数据列表">
                <field name="tableNames" type="string[]" comment="请求数据表列表"/>
            </item>
        </extra>
    </message>
    <response>
        <default>
			<field name="success" type="boolean" comment="返回值时表示是否成功"/>
			<field name="errorCode" type="int" comment="success是false时表示错误码"/>
			<field name="info" type="string" comment="success是false时表示错误信息"/>
			<field name="currentTime" type="long" comment="当前的服务器时间戳（毫秒）"/>
		</default>
        <extra>
            <item name="ResourceVersion" comment="获取配置表版本">
                <field name="resourceConfigList" type="ResourceConfigVO[]" comment="配置表版本信息"/>
            </item>
            <item name="ResourceList" comment="获取数据列表">
                <field name="versions" type="{string:long}" comment="版本信息集合"/>
                <field name="propInfoList" type="PropInfo[]" comment="道具表"/>
                <field name="careerList" type="Career[]" comment="工作表"/>
                <field name="careerDetailList" type="CareerDetail[]" comment="职业等级细节表"/>
                <field name="careerWorkList" type="CareerWork[]" comment="工作表"/>
                <field name="careerWorkConditionList" type="CareerWorkCondition[]" comment="工作条件表"/>
                <field name="dreamCareerRewardList" type="DreamCareerReward[]" comment="奖励表"/>
                <field name="communityDetailList" type="CommunityDetail[]" comment="社区等级细节表"/>
                <field name="buildingDetailList" type="BuildingDetail[]" comment="建筑等级细节表"/>
            </item>
        </extra>
    </response>
</config>